---
import StartLayout from "../layouts/StartLayout.astro";
import { Image } from "astro:assets";
import backgroundsIMGone from "../assets/backgrounds/frontPage.jpg.jpg";
import backgroundsIMGtwo from "../assets/backgrounds/frontPageMiddle.jpg.jpg";
import "../styles/global.css";
import Gallery from "../components/Gallery.astro";
import Socials from "../assets/socials.webp"
import SocialGramophone from "../assets/socials/gramophone.webp"
import SocialHeadset from "../assets/socials/sennheiser_headset.webp"
import SocialReceiver from "../assets/socials/receiver..webp"

---

<StartLayout title="HIFI-corner">
	<main>
		<div class="box">
			<Image
				format="webp"
				src={backgroundsIMGone}
				alt="speaker background"
				class="backgroundIMG imgWidth"
			/>
			<div class="box__box">
				<div class="box__hifi">
					<p>hi</p>
					<p>fi</p>
				</div>
				<p class="box__address">hificorner.co.uk</p>
			</div>
		</div>

		<div class="middle">
			<Image
				src={backgroundsIMGtwo}
				alt="background middle"
				class="backgroundIMGtwo imgWidth"
			/>
			<div class="middle__box">
				<p>our edinburgh showroom has now moved</p>
				<p>to stunning new premises on joppa road</p>
			</div>
		</div>
		<Gallery />

		<div class="socials">
			<div class="socials__box">
				<Image src={SocialGramophone} alt="gramophone" class="" />
			</div>
			<div class="socials__box">
				<Image src={SocialHeadset} alt="headset" class="" />
			</div>
			<div class="socials__box">
				<Image src={SocialReceiver} alt="receiver" class="" />
			</div>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
				omnis labore, perspiciatis facere aperiam quia.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
				omnis labore, perspiciatis facere aperiam quia.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
				omnis labore, perspiciatis facere aperiam quia.
			</p>
		</div>
	</main>
</StartLayout>

<style>
	main {
		font-family: "Museo sans rounded webfont", sans-serif;
	}

	.imgWidth {
		width: 100%;
	}

	.backgroundIMG {
		height: auto;
	}

	.box {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.backgroundIMG,
	.box__box {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	.box__box {
		grid-row: 2 / 2;
		height: 200px;
		justify-self: center;
		align-self: center;
	}

	.box__box > p {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 700;
	}

	.box__hifi {
		border: 2px solid rgb(255, 255, 255);
		padding: 6em 1em 0 0.4em;
		font-weight: 700;
		width: 180px;
		height: 180px;
	}

	.box__hifi > p {
		text-transform: uppercase;
		color: rgb(255, 255, 255);
		font-size: 2em;
	}

	.box__address {
		color: rgb(255, 255, 255);
	}

	.middle {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.backgroundIMGtwo {
	}

	.middle__box {
		align-self: center;
	}

	.backgroundIMGtwo,
	.middle__box {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	.backgroundIMGtwo {
		height: 400px;
	}

	.middle__box > p {
		color: rgb(255, 255, 255);
		text-align: center;
		font-size: 3.5em;
		text-transform: uppercase;
	}
</style>
