---
import StartLayout from "../layouts/StartLayout.astro";
import { Image } from "astro:assets";
import backgroundsIMGone from "../assets/backgrounds/frontPage.jpg.jpg";
import backgroundsIMGtwo from "../assets/backgrounds/frontPageMiddle.jpg.jpg";
import "../styles/global.css";
import Gallery from "../components/Gallery.astro";
import SocialGramophone from "../assets/socials/gramophone.jpg";
import SocialHeadset from "../assets/socials/sennheiser_headset.jpg";
import SocialReceiver from "../assets/socials/receiver.jpg";
---

<StartLayout title="HIFI-corner">
	<div class="box">
		<Image
			format="webp"
			src={backgroundsIMGone}
			alt="speaker background"
			class="backgroundIMG imgWidth"
		/>
		<div class="box__box">
			<div class="box__hifi">
				<p>hi</p>
				<p>fi</p>
			</div>
			<p class="box__address">hificorner.co.uk</p>
		</div>
	</div>

	<div class="middle">
		<Image
			src={backgroundsIMGtwo}
			alt="background middle"
			class="backgroundIMGtwo imgWidth"
		/>
		<div class="middle__box">
			<p>our edinburgh showroom has now moved</p>
			<p>to stunning new premises on joppa road</p>
		</div>
	</div>
	<Gallery />

	<div class="socials">
		<div class="socials__box">
			<Image
				src={SocialGramophone}
				alt="gramophone"
				class="socials__img imgOne"
				format="webp"
			/>
			<div class="iconFacebook">
				<i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"
				></i>
			</div>
		</div>
		<div class="socials__box">
			<Image
				src={SocialHeadset}
				alt="headset"
				class="socials__img imgTwo"
				format="webp"
			/>
			<div class="iconB">
				<i
					class="fa-brands fa-blogger fa-2xl iconB"
					style="color: #ffffff;"></i>
			</div>
		</div>
		<div class="socials__box">
			<Image
				src={SocialReceiver}
				alt="receiver"
				class="socials__img imgThree"
				format="webp"
			/>
			<div class="iconTwitter">
				<i
					class="fa-brands fa-square-twitter fa-2xl"
					style="color: #ffffff;"></i>
			</div>
		</div>
	</div>
	<div class="information">
		<div class="information__one">
			<h5 class="information__heading">history</h5>
			<p>
				established in the laste 1960s, our family owned business is
				based in edinburgh and falkirk, servicing customers across the
				uk.
			</p>
		</div>
		<div class="information__two">
			<h5 class="information__heading">news</h5>
			<p>
				check out our latest news stories for all the up to date hi-fi
				corner products and launches.
			</p>
		</div>
		<div class="information__three">
			<h5 class="information__heading">shop</h5>
			<p>have a look in our online shop for great products and deals.</p>
		</div>
	</div>
</StartLayout>

<style>
	body {
		font-family: "Museo sans rounded webfont", sans-serif;
	}

	.imgWidth {
		width: 100%;
	}

	.backgroundIMG {
		height: 100%;
	}

	.box {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.backgroundIMG,
	.box__box {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	.box__box {
		grid-row: 2 / 2;
		height: 200px;
		justify-self: center;
		align-self: center;
	}

	.box__box > p {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 700;
	}

	.box__hifi {
		border: 2px solid rgb(255, 255, 255);
		padding: 6em 1em 0 0.4em;
		font-weight: 700;
		width: 180px;
		height: 180px;
	}

	.box__hifi > p {
		text-transform: uppercase;
		color: rgb(255, 255, 255);
		font-size: 2em;
	}

	.box__address {
		color: rgb(255, 255, 255);
	}

	.middle {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.middle__box {
		align-self: center;
	}

	.backgroundIMGtwo,
	.middle__box {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	.backgroundIMGtwo {
		height: 400px;
	}

	.middle__box > p {
		color: rgb(255, 255, 255);
		text-align: center;
		font-size: 3.5em;
		text-transform: uppercase;
	}

	.socials {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.socials__box {
		display: grid;
	}

	.socials__img {
		width: 100%;
	}
	.iconFacebook,
	.imgOne {
		grid-column: 1;
		grid-row: 1;
	}
	.iconFacebook {
		margin: 0 auto;
		align-self: center;
	}

	.iconB,
	.imgTwo {
		grid-column: 1;
		grid-row: 1;
	}
	.iconB {
		margin: 0 auto;
		align-self: center;
	}

	.iconTwitter,
	.imgThree {
		grid-column: 1;
		grid-row: 1;
	}

	.iconTwitter {
		margin: 0 auto;
		align-self: center;
	}

	.fa-2xl {
		font-size: 8.5em;
	}

	.information {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		background-color: black;
		color: white;
		gap: 4em;
		padding-top: 3em;
		padding-bottom: 6em;
	}

	.information__one {
		grid-column: 2/3;
	}
	.information__two {
		grid-column: 3/4;
	}

	.information__three {
		grid-column: 4/5;
	}

	.information__one > p,
	.information__two > p,
	.information__three > p {
		padding-top: 0.7em;
		text-align: center;
		font-size: 1.14em;
		text-transform: uppercase;
	}

	.information__heading {
		color: var(--text-color);
		border: 1px solid white;
		text-align: center;
		margin: 0 6em;
		font-size: 1.3em;
		padding: 0.2em 0.6em;
		text-transform: uppercase;
	}
</style>
