---
import "../styles/global.css";
import { Image } from "astro:assets";
import youtube from "../assets/footer/play.png";
import facebook from "../assets/footer/facebook.png";
import twitter from "../assets/footer/twitter.png";
import linkedin from "../assets/footer/linkedin.png";
import paypal from "../assets/footer/paypal.png";
import visa from "../assets/footer/visa.png";
import mastercard from "../assets/footer/mastercard.png";
import maestro from "../assets/footer/maestro.png";
import jcb from "../assets/footer/jcb.png";
---

<footer>
    <div class="footerContainer">
        <div class="footerDiv1">
            <p>Hi-Fi Corner</p>
            <p>Edinburgh 2 Joppa Road EH15 2EU</p>
            <p>Falkirk 44 Cow Wynd FK1 1PU</p>
        </div>

        <div class="footerDiv2">
            <a href="">Returns & Refunds ┃ Privacy Policy</a>
        </div>

        <div class="footerDiv3">
            <a href=""><i class="fa-solid fa-globe"></i> Worldpay</a>
            <a href=""> <Image class="" src={visa} alt="" format="webp" /></a>
            <a href="">
                <Image class="" src={mastercard} alt="" format="webp" />
            </a>
            <a href="">
                <Image class="" src={maestro} alt="" format="webp" />
            </a>
            <a href=""> <Image class="" src={jcb} alt="" format="webp" /></a>
            <a href="">
                <Image class="" src={paypal} alt="" format="webp" />
                 PayPal
            </a>
        </div>
        <div class="footerDiv4">
            <a href="">
                <Image class="" src={facebook} alt="" format="webp" />
            </a>
            <a href="">
                <Image class="" src={youtube} alt="" format="webp" />
            </a>
            <a href="">
                <Image class="" src={twitter} alt="" format="webp" />
            </a>
            <a href="">
                <Image class="" src={linkedin} alt="" format="webp" />
            </a>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: rgb(205, 176, 103);
        max-height: 82px;
    }

    .footerContainer p,
    a {
        margin: 0;
        font-family: "Museo sans rounded webfont";
        font-weight: 700;
        font-size: 12px;
    }

    .footerContainer {
        padding: 1em 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 2fr 1fr;
    }

    .footerDiv1 {
        display: grid;
        width: 300px;
        height: 50px;
    }

    .footerDiv2 {
        height: 50px;
        width: 200px;
    }

    .footerDiv2 a {
        color: white;
        text-decoration: none;
    }

    .footerDiv3 {
        grid-column: 4/5;
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: 1fr;
        max-width: 300px;
    }

    .footerDiv3 img {
        scale: 120%;
    }

    .footerDiv3 a {
        font-size: 10px;
        color: white;
        text-decoration: none;
        text-align: center;
        max-height: 10px;
    }

    .footerDiv4 {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 0.5em;
        justify-content: right;
    }

    .footerDiv4 a {
        max-height: 16px;
        max-width: 16px;
    }

    .fa-globe {
        color: white;
    }
</style>
